<%- include('header'); -%>
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <p class="lead">
        <div class="m-5 text-start"><md-block id="readme-content-box"></md-block></div>
      </p>
    </div>
  </div>
<script src="./about.js"></script>
<script type="module" src="https://md-block.verou.me/md-block.js"></script>
<%- include('footer'); -%>
