<%- include('header'); -%>

<div class="upload-box card placeholder-glow">
  <p class="placeholder">
    <span class="placeholder col-12"></span>
  </p>

  <p class="placeholder">
    <span class="placeholder col-12"></span>
  </p>
  Upload Complete<br />
  Generating File...
  <script src="/success.js"></script>
  <%- include('footer'); -%>
</div>
